.book .book-body .page-wrapper .page-inner section.normal .hljs-meta-keyword {
  color: #8959a8;
}

.book .book-body .page-wrapper .page-inner section.normal .hljs-meta-string {
  color: #718c00;
}

.book .book-body .page-wrapper {
  margin-bottom: 12em;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
