.book .book-body .page-wrapper .page-inner section.normal .hljs-meta-keyword {
  color: #8959a8;
}

.book .book-body .page-wrapper .page-inner section.normal .hljs-meta-string {
  color: #718c00;
}

.book .book-body .page-wrapper {
  margin-bottom: 12em;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-results-item p{
  color: #4183C4;
}

#book-search-results .search-results .has-results .search-results-item a {
  color: #777;
}


#book-search-input input, #book-search-input input:focus, #book-search-input input:hover{
  color: #222;
}
<<<<<<< HEAD

=======
>>>>>>> 691a7e4e1721c716e8e2c5ce3c7a7bfed07096b9
